

.button{

    font-family: 'Manrope', sans-serif;
    color: var(--color-blanc);
    font-weight: 500;

    padding: 9px 35px 10px 35px;

    margin-top: 31px;

    border: solid var(--color-blanc) 2px;
    border-radius: 30px;
    background-color: transparent;

    cursor: pointer;


}