

.button{

    font-family: 'Manrope', sans-serif;
    color: var(--color-blanc);
    font-weight: 500;

    padding: 9px 35px 10px 35px;

    margin-top: 31px;

    border: solid var(--color-blanc) 2px;
    border-radius: 30px;
    background-color: transparent;

    cursor: pointer;

    &--big{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 40px;
        margin-bottom: 25px;
        align-items: center;
        font-size: 25px;
        font-weight: 400;
    }

    &--vert{
        background-color: var(--color-vert);
        color: var(--color-beige);
        margin-top: 50px;
        border: 0;
    
        padding: 20px 46px 20px 46px;
        
    }


}