
.container{
    margin: 0px 25px 100px 25px;
    margin-bottom: 100px;

    &__hypo{
        margin-top: 50px;
    }

    &--white{
        
        background-color: var(--color-blanc);
        margin: 0;
        padding: 100px 25px 100px 25px;

    }

    &--beige{
        margin: 0;
        padding-top: 100px;
        background-color: var(--color-beige);
        color: var(--color-noir);
    }

    &--footer{
        background-color: var(--color-beige);
        margin: 0;
    }
}

.container__el{
    margin: 0px 25px 0px 25px;

}

.container-nav{
    z-index: 100;
    position: fixed;
    margin: 0;
    padding: 12px 25px 12px 25px;
    width: 100vw;
    height: 80px;
    background-color: var(--color-vert);

    &__el{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        
    }

    &__burger{
        display: flex;

        & svg{
            cursor: pointer;
        }

        & svg g path{
            fill: var(--color-beige);
        }
    }

    &__croix{
        display: flex;

        & svg{
            cursor: pointer;
            
            & path{
                fill: var(--color-beige);
            }
        }
    }

    &__list{
        font-size: 20px;
        margin-left: -25px;
        width: 100vw;
        background-color: var(--color-vert);
        display: flex;
        flex-direction: column;
        align-items: center;

        padding: 25px;

        & li{
            padding-top: 10px;
        }
    }
}

.img{
    width: 70px;
    margin-top: 16px;

    &--margin{
        margin-right: 16px;
    }
}

.block-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--end{
        justify-content: end;
        row-gap: 20px;
    }

}

.block{

    background-image: url("../assets/images/el-graphic-white.png");
    background-position: top -140px right -120px;
    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 50px;
    max-width: 500px;
    padding: 20px 25px 20px 25px;
    background-color: var(--color-vert);
    border-radius: 15px;

    &--2{

        background-image: url("../assets/images/el-graphic-green.png");
        background-position: top -50px left 50px;
        background-size: cover;

        background-color: var(--color-beige);
    }

    &--3{

        display: flex;
        flex-direction: column;
        background-image: url("../assets/images/el-graphic-green.png");
        background-position: top -50px left 50px;
        background-size: cover;

        background-color: var(--color-beige);
    }

}

.cards{
    position: relative;
    cursor: pointer;
    width: 340px;

    & .container-probleme::after{
        font-family: 'Brygada 1918', serif;
        font-weight: 600;
        font-size: 35px;
    }
}

.hidden{
    display: none;
    cursor: pointer;
}

.hidden-nav{
    display: none;
}

.container-probleme{


    background-color: var(--color-beige);
    background-image: url("../assets/images/el-graphic-probleme.png");

    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;

    border-radius: 30px;
    font-family: 'Brygada 1918', serif;
    color: var(--color-noir);
    padding: 25px;
    font-size: 40px;
    margin: 31px 20px 31px 20px;
    height: 370px;
    width: 300px;
    

    &::after{
        content: "<";
        text-align: left;
        cursor: pointer;
        color: var(--color-beige);
        margin-top: -63px;
        margin-left: -25px;
        padding-top: 25px;
        padding-left: 25px;
        display: block;
        width: 80px;
        height: 80px;
        background-color: var(--color-vert);
        border-radius: 0px 90px 0px 30px;
    }

    & p{
        margin-top: 15px;
        margin-bottom: 100px;
        padding: 0;
        max-width: 70%;
    }

    & span{
        margin-top: -15px;
        padding-bottom: 0px;
        line-height: 1;
        text-align: end;
        color: var(--color-vert);
        display: block;
        font-size: 60px;
    }
}

.container-back{

    position: absolute;
    top: 31px;
    left: 0;

    background-color: var(--color-beige);

    border-radius: 30px;
    font-family: 'Manrope', sans-serif;
    color: var(--color-noir);
    padding: 25px;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 20px 31px 20px;

    max-width: 300px;
    min-width: 260px;
    max-height: 370px;

    &::before{
        content: "X";
        position: absolute;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--color-beige);
        margin-top: -25px;
        margin-left: 226px;
        padding-top: 0px;
        padding-left: 0px;
        width: 50px;
        height: 50px;
        background-color: var(--color-vert);
        border-radius: 0px 30px 0px 30px;
        font-size: 16px;
    }

    & p{
        padding: 0;
    }

    &__el li{
        padding-top: 20px;
        font-weight: 400;
    }
}

.container__interview-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 100Px;

    & button{
        width: 240px;
    }

    & h4{
        width: 300px;
    }
}

.container-titre{
    box-sizing: border-box;
    padding: 150px 0 0px 0;
    margin-bottom: 100px; 

    width: 100vw;
    background-image: url("../assets/images/img-rue.jpg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-titre__el{
    margin: 0px 25px 0px 25px;

}

.container-img{
    
    
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    &__credit p{
        margin-top: -58px;
        margin-right: 18px;
        color: var(--color-blanc);
        font-weight: 500;
        text-align: end;
    }

    &__el{
        
        &--marge img{
            margin-bottom: 0;
        }

        & img{
            width: 100%;
            padding-right: 0px;
            border-radius: 20px;
        }

        &--vert{
            color: var(--color-vert);
        }
    }
}

.container__video{

    & video{
        width: 100vw;
    }
}

.container--inter{
    margin-top: 100px;
}

.container__union{
    background-image: url("../assets/images/union.jpg");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    padding-bottom: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h2{
        font-weight: 500;
        color: var(--color-noir);
        text-align: center;
    }
}

.container__fonc{
    margin-bottom: 50px;
}

.container__block{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    & .container__back-img{
        position: relative;
        background-color:var(--color-beige);

        width: 300px;

        color: var(--color-noir);

        margin-top: 31px;

        margin-left: 20px;
        margin-right: 20px;

        padding: 30px;

        border-radius: 30px;

        &::after{
            border-radius: 30px;
            content: "";
            background-image: url("../assets/images/el_graphique-espace.png");
            background-position: top 0 right;
            background-size: cover;
            background-repeat: no-repeat;
            
            width: 300px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

        }

        &--1::after{
            border-radius: 30px;
            content: "";
            background-image: url("../assets/images/demande.png");
            background-position: top 50px right;
            background-size: cover;
            background-repeat: no-repeat;
            
            width: 300px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        &--2::after{
            border-radius: 30px;
            content: "";
            background-image: url("../assets/images/louer.png");
            background-position: top 50px right;
            background-size: cover;
            background-repeat: no-repeat;
            
            width: 300px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        &--3::after{
            border-radius: 30px;
            content: "";
            background-image: url("../assets/images/livraison.png");
            background-position: top 50px right;
            background-size: cover;
            background-repeat: no-repeat;
            
            width: 300px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }

        &--4::after{
            border-radius: 30px;
            content: "";
            background-image: url("../assets/images/coming.png");
            background-position: top 20px right;
            background-size: cover;
            background-repeat: no-repeat;
            
            width: 300px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }


    }

    & img{

        margin-left: -30px;
        margin-top: 30px;

        width: 300px;
    }
}
.container__end{
    margin-bottom: 50px;
    margin-bottom: -180px;
}

.container__end h4{
    margin-top: 100px;
    padding: 30px;
    background-color: var(--color-beige);
    border-radius: 30px;
}

.container__citation{
    margin-top: 50px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;

    & h2{
        color: var(--color-noir);
        text-align: center;
        margin: 0 auto;
        width: 230px;
    }

    & h5{
        color: var(--color-noir);
        margin: 0 auto;
        padding: 0;
        text-align: center;
        padding-top: 20px;
        width: 300px ;
    }

    & h5:nth-child(3){
        padding-top: 100px;
        text-align: center;
    }

    & button{
        margin-top: 20px;
    }
}

.container__reponse{
    color: var(--color-noir);
    text-align: left;

    & h5{
        text-align: left;
        padding-top: 100px;
    }
}

.container__flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.container__footer{

    & .container__left{
        background-image: url("../assets/images/footer-mobile.jpg");
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        & div button{
            margin-top: 30px;
        }

        & h2{
            padding-top: 50px;
            padding-bottom: 20px;
        }

    }
}

.container__button{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conatiner__right{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    background-color: var(--color-beige);
}

.container__list-left{
    flex-direction: column;
    align-items: left;
    padding-top: 35px;
    color: var(--color-noir);
    
    & li{
        padding-top: 15px;
        font-size: 20px;
    }
}

.credit{
    color: var(--color-noir);
    font-size: 16px;
    padding: 0;
    width: 150px;
    height: 42px;
    margin-left: 20px;
    margin-top: -94px;
}

.credit-d{
    display: none;
}

.container__list-right{
    align-items: end;
    flex-direction: column;
    padding-top: 35px;
    color: var(--color-noir);
    text-align: right;
    
    & li{
        color: var(--color-vert);
        padding-top: 15px;
        font-size: 20px;
    }
}

@media (min-width: 1110px){
    .container-nav{

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__list{
            background-color: transparent;
            display: flex;
            flex-direction: row;
            justify-content: end;
            padding: 0;

            & li{
                padding: 0;
            }
        }

        &__el{
            display: block;
        }

        &__list li a{
        }

        &__burger{
            display: none;
        }
    }

    .hidden-nav{
        display: flex;
    }
}