
.container{
    margin: 0px 25px 100px 25px;
    margin-bottom: 100px;

    &__hypo{
        margin-top: 50px;
    }

    &--white{
        background-color: var(--color-blanc);
        margin: 0;
        padding: 100px 25px 100px 25px;
        margin-bottom: 100px;

    }

    &--beige{
        margin: 0;
        padding-top: 100px;
        background-color: var(--color-beige);
        color: var(--color-noir);
    }
}

.container__el{
    margin: 0px 25px 0px 25px;

}

.container-nav{
    z-index: 100;
    position: fixed;
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0px 25px 0px 25px;
    width: 100vw;
    height: 80px;
    background-color: var(--color-vert);
}

.container-nav__el{
    display: flex;
    flex-direction: column;
}

.cards{
    position: relative;
    cursor: pointer;

    & .container-probleme::after{
        font-family: 'Brygada 1918', serif;
        font-weight: 600;
        font-size: 35px;
    }
}

.hidden{
    display: none;
    cursor: pointer;
}

.container-probleme{


    background-color: var(--color-beige);
    background-image: url("../assets/images/el-graphic-probleme.png");

    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;

    border-radius: 30px;
    font-family: 'Brygada 1918', serif;
    color: var(--color-noir);
    padding: 25px;
    font-size: 40px;
    margin: 31px 20px 31px 20px;
    height: 370px;
    max-width: 300px;
    min-width: 260px;

    

    &::after{
        content: "<";
        text-align: left;
        cursor: pointer;
        color: var(--color-beige);
        margin-top: -63px;
        margin-left: -25px;
        padding-top: 25px;
        padding-left: 25px;
        display: block;
        width: 80px;
        height: 80px;
        background-color: var(--color-vert);
        border-radius: 0px 90px 0px 30px;
    }

    & p{
        margin-top: 15px;
        margin-bottom: 100px;
        padding: 0;
        max-width: 70%;
    }

    & span{
        margin-top: -15px;
        padding-bottom: 0px;
        line-height: 1;
        text-align: end;
        color: var(--color-vert);
        display: block;
        font-size: 60px;
    }
}

.container-back{

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--color-beige);

    border-radius: 30px;
    font-family: 'Manrope', sans-serif;
    color: var(--color-noir);
    padding: 25px;
    font-size: 16px;
    font-weight: 500;
    margin: 0px 20px 31px 20px;

    max-width: 300px;
    min-width: 260px;
    max-height: 370px;

    &::before{
        content: "X";
        position: absolute;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: var(--color-beige);
        margin-top: -25px;
        margin-left: 226px;
        padding-top: 0px;
        padding-left: 0px;
        width: 50px;
        height: 50px;
        background-color: var(--color-vert);
        border-radius: 0px 30px 0px 30px;
        font-size: 16px;
    }

    & p{
        padding: 0;
    }

    &__el li{
        padding-top: 20px;
        font-weight: 400;
    }
}

.container-titre{
    box-sizing: border-box;
    padding: 150px 0 0px 0;
    margin-bottom: 100px; 

    width: 100vw;
    background-image: url("../assets/images/img-rue.jpg");

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-titre__el{
    margin: 0px 25px 0px 25px;

}

.container-img{
    
    
    display: flex;
    flex-direction: column;
    margin-top: 25px;

    &__credit p{
        margin-top: -58px;
        margin-right: 18px;
        color: var(--color-blanc);
        font-weight: 500;
        text-align: end;
    }

    &__el{
        
        &--marge img{
            margin-bottom: 0;
        }

        & img{
            width: 100%;
            padding-right: 0px;
            border-radius: 20px;
        }

        &--vert{
            color: var(--color-vert);
        }
    }
}

.container__video{

    & video{
        width: 100vw;
    }
}

@media (min-width: 1024px){

    .container-nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 100px 0px 100px;
        width: 100vw;
        height: 80px;
        background-color: var(--color-vert);
        position: fixed;
    }

    .container-nav__el{
        display: flex;
        flex-direction: row;
    }

    .container{
        margin: 0 100px 0 100px;
    }

    .container__el{
        margin: 0 120px 0 120px;
    }

    .container-titre{
        
        margin-bottom: 200px; 
        padding: 200px 0 0px 0;
        width: 100vw;
        height: 150vh;
        background-image: url("../assets/images/img-rue.jpg");
    
        background-position: top;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .container-titre__el{
        margin: auto auto auto 100px;
        max-width: 70vw;
    
    }
}