

.container__grid-circle{
    margin: 0;

    padding-left: 25px;
    padding-right: 25px;

    overflow: hidden;

    padding-top: 150px;
    padding-bottom: 0px;

    font-family: 'Brygada 1918', serif;
    font-weight: 400;
    font-size: 20px;
    
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 60px 60px 60px 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}

.grid-start-1{
    grid-column-start: 1;
}

.grid-start-2{
    grid-column-start: 2;
}

.grid-start-3{
    grid-column-start: 3;
}

.grid-start-4{
    grid-column-start: 4;
}

.grid-end-1{
    grid-column-end: 2;
}

.grid-end-2{
    grid-column-end: 3;
}
.grid-end-3{
    grid-column-end: 4;
}

.grid-end-4{
    grid-column-end: 5;
}

.grid-end-5{
    grid-column-end: 6;
}