

@media (min-width: 1024px){

    ::selection{
        color: var(--color-blanc);
        background-color: var(--color-rouille);
    }

    .container-nav{
        padding: 0px 100px 0px 100px;
        width: 100vw;
        height: 80px;
        background-color: var(--color-vert-transparent);
        backdrop-filter: blur( 10.5px );
        -webkit-backdrop-filter: blur( 10.5px );

        position: fixed;
    }

    .container-nav__el{
        display: flex;
        flex-direction: row;
        padding-top: 13px;
        
    }

    .container{
        margin: 0;
        padding: 0 100px 0 100px;

        &__hypo{

            margin-top: 100px;
        
            & h2{
                font-size: 50px;
                text-align: center;
            }
        }

        &--margin{
            margin-top: 100px;
        }
    }

    .container__el{
        margin: 0 120px 0 120px;

        &--hypo{

            & p{
                width: 750px;
            }
        }
    }

    #hypothese .container .container__el{
        padding-top: 100px;
        margin: 0;
    }


    .title--black{
        color: var(--color-noir);
    }

    .container-titre{
        
        margin-bottom: 100px; 
        padding: 200px 0 0px 0;
        width: 100vw;
        height: 150vh;
        background-image: url("../assets/images/img-rue.jpg");
    
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;

    .container-titre__el{
        margin: auto auto auto 100px;
        max-width: 70vw;
        
        & h4{
            width: 850px;
        }

        & h1{
            width: 870px;
        }

        & h2{
            width: 850px;
        }
        }
    }

    .text{
        width: 750px;
    }

    .slide div:nth-child(4){
        display: flex;
        flex-direction: row;
        justify-content: center;

        & button{
            padding: 25px 50px 25px 50px;
            border-radius: 50px;
        } 
    }

    .container__interview-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 100px;
        margin-top: 100Px;
    
        & button{
            width: 240px;
        }
    
        & h4{
            width: 600px;
        }
    }

    .slide{
        margin-top: 80px;
    }

    .container-img{
        margin-left: 25px;
        margin-bottom: -200px;
        margin-top: 150px;
    }

    .container-img__el img{
        border-radius: 30px;
    }
    .container--white{
        margin-top: 0px;
    }
    .container--white h2{
        color: var(--color-vert);
        padding-top: 200px;
        font-size: 40px;
        width: 600px;
        text-align: center;
    }

    .container__flex-col{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        & button{
           margin: 0 auto;
           margin-top: 50px;
        }
    }
    .container__flex{

        display: flex;
        flex-direction: row;
        justify-content: center;


        &--margin{
            margin-bottom: 150px;
        }
    }

    .container--inter{
        margin-top: 400px;

        & h3{
            width: 500px;
        }

        & p{
            width: 750px;
        }

        & :nth-child(4){
            padding-top: 69px;
        }
    }



    .container-probleme{
        margin-bottom: 0;
    }

    .container-back{
        height: 371px;
        top: 31px;

        & p{
            width: 250px;
        }
    }


    // circle

    .container__grid-circle{
        grid-template-columns: 1fr 233px 233px 233px 1fr;
        font-size: 35px;
        padding-top: 300px;
        padding-bottom: 200px;
    
    }

    .circle-green{
        text-align: center;
        z-index: 1;
        position: relative;
        color: var(--color-beige);
        max-width: 240px;
        min-width: 240px;
        height: 100px;
        padding: 0;
    
    
        &::before{
            content: "";
            z-index: -1;
            position: absolute;
            top: -160px;
            height: 420px;
            left: -90px;
            width: 420px;
            background-color: var(--color-vert);
            
            border-radius: 100%;
    
        }
    
    }
    
    .circle-green-border-small{
    
        
        z-index: 1;
        position: relative;
        color: var(--color-vert);
        max-width: 240px;
        min-width: 240px;
        height: 200px;
        padding: 0;
    
        &::before{
            content: "";
            z-index: -1;
            position: absolute;
            top: -100px;
            height: 400px;
            left: -80px;
            width: 400px;
            border: solid 2px var(--color-vert);
            
            border-radius: 100%;
    
        }
    }

    .circle-green-border-small--left{

    
        z-index: 1;
        position: relative;
        color: var(--color-vert);
        max-width: 240px;
        min-width: 240px;
        height: 200px;
        padding: 0;
    
        &::before{
            content: "";
            z-index: -1;
            position: absolute;
            top: -100px;
            height: 400px;
            left: -105px;
            width: 400px;
            border: solid 2px var(--color-vert);
            
            border-radius: 100%;
    
        }
    }
    
    .circle-green-border-small--2text{
    
        
        z-index: 1;
        position: relative;
        color: var(--color-vert);
        max-width: 160px;
        min-width: 160px;
        height: 150px;
        padding: 0;
    
        &::before{
            content: "";
            z-index: -1;
            position: absolute;
            top: -77px;
            height: 300px;
            left: -75px;
            width: 300px;
            border: solid 2px var(--color-vert);
            
            border-radius: 100%;
    
        }
    }

    .circle-green--3text{
        text-align: center;
        z-index: 1;
        position: relative;
        color: var(--color-beige);
        max-width: 240px;
        min-width: 240px;
        height: 200px;
        padding: 0;
    
    
        &::before{
            content: "";
            z-index: -1;
            position: absolute;
            top: -85%;
            height: 240%;
            left: -50%;
            width: 200%;
            background-color: var(--color-vert);
            
            border-radius: 100%;
    
        }
    
    }

    
    
    .circle-rouille{
        text-align: center;
        z-index: 1;
        position: relative;
        color: var(--color-beige);
        max-width: 240px;
        min-width: 240px;
        height: 200px;
        padding: 0;
    
    
        &::before{
            content: "";
            z-index: -1;
            position: absolute;
            top: -70%;
            height: 240%;
            left: -50%;
            width: 200%;
            background-color: var(--color-rouille);
            
            border-radius: 100%;
    
        }
    }
    
    .circle-rouille-text{
        text-align: left;
        font-size: 16px;
        z-index: 1;
        position: relative;
        color: var(--color-vert);
        padding: 0;
    
    
        
    }
    
    .circle-green-small{
    
        z-index: 1;
        position: relative;
        color: var(--color-rouille);
        max-width: 140px;
        min-width: 140px;
        height: 50px;
        padding: 0;
    
        &::before{
            content: "";
            z-index: -1;
            position: absolute;
            top: -80px;
            height: 210px;
            left: -28%;
            width: 210px;
            background-color: var(--color-vert);
            
            border-radius: 100%;
    
        }
    }
    
    .circle-rouille-small{
    
    
        z-index: 1;
        position: relative;
        color: var(--color-vert);
        max-width: 140px;
        min-width: 140px;
        height: 50px;
        padding: 0;
    
        &::before{
            content: "";
            z-index: -1;
            position: absolute;
            top: -80px;
            height: 210px;
            left: -28%;
            width: 210px;
            background-color: var(--color-rouille);
            
            border-radius: 100%;
    
        }
    }
    
    
    .circle{
        padding: 0;
        margin: 0 auto;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: var(--color-vert);
        border-radius: 100%;
        text-align: center;
        width: 300px;
        height: 300px;
    }
    
    .circle-01-margin{
        margin-bottom: 220px;
    }
    
    .circle-02-margin{
        margin-top: -100px;
        margin-bottom: 390px;
    }
    .circle-03-margin{
        margin-bottom: 220px;
    }
    .circle-04-margin{
        margin-bottom: 60px;
    }
    .circle-05-margin{
        margin-top: -300px;
        margin-bottom: 15px;
    }
    .circle-06-margin{
        margin-bottom: 300px;
    }
    .circle-07-margin{
        margin-top: -350px;
        margin-bottom: 130px;
    }
    .circle-08-margin{
        margin-bottom: 180px;
    }
    .circle-09-margin{
        margin-bottom: 125px;
    }
    .circle-10-margin{
        margin-bottom: 0px;
    }


    .reset{
        padding: 0;
    }

    .container__union{
        height: 100vh;
    }

    .title--legende{
        font-size: 80px;
        width: 700px;
        align-self: center;

    }

    .controls {
        width: auto;
        bottom: -250px;
    
      }

      .video-container__el{
        position: relative;
      }

      .video-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 450px;
        padding-left: 50px;
        padding-right: 50px;
    
        & video{
            border: solid 3px var(--color-beige);
            z-index: 0;

            width: 80%;
            border-radius: 60px;

            height: 80%;
    
            margin-bottom: -300px;
        }
      }
    
    .container__fonc{

        margin-bottom: 50px;
        & h2{
            width: 770px;
        }

        & p{
            width: 750px;
        }
    } 

    .container__block{
        margin-bottom: 0px;
        flex-direction: row;
        justify-content: center;
        
        & .container__back-img{
            width: 350px;

            & img{
                width: 350px;
            }
    
            &::after{
                width: 350px;
    
            }
    
            &--1::after{
                width: 350px;
            }

            &--2::after{
                width: 350px;
            }

            &--3::after{
                width: 350px;
            }

            &--4 h4{
                width: 100px;
            }

            &--4::after{
                width: 350px;
            }

        }
    }

    .container__exp{
        margin-top: 150px;

        & p{
            margin-right: 25px;
            width: 350px;
        }
    }

    .circle{
        font-weight: 400;
        font-size: 35px;
        padding: 0;
        margin-top: 20px;
        width: 280px;
        height: 280px;
        cursor: pointer;
    }

    .container__end{
        margin-top: 150px;
        margin-bottom: -100px;
    }
    .container__end h4{
        padding: 30px;
        background-color: var(--color-beige);
        border-radius: 30px 30px 30px 30px;

    }

    .container__citation{
    
        & h2{
            width: 738px;
            font-size: 100px;
            padding-top: 300px;
        }

        & h5{
            width: 500px;
        }

        &:nth-child(3){
            font-size: 50px;
        }

        & button{
            margin-bottom: 150px;
        }

    }

    .container__reponse{
        width: 750px;
        margin: 0 auto;

        & :nth-child(1){
            padding-top: 50px;
        }

        & p{
            text-align: center;
        }

        & h5{
            text-align: center;
        }

        & :nth-child(6){
            text-align: left;
        }
    }


    .container__footer{

        padding: 0;

        & .container__left{
            background-image: url("../assets/images/footer-desktop.jpg");
            background-position: left;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            justify-content: left;
            
            flex-direction: column;
            padding-left: 50px;
            padding-bottom: 50px;
            
            & div button{
                margin-top: 30px;
                margin-right: 16px;
            }
    
            & h2{
                padding-top: 50px;
                padding-bottom: 20px;
                align-self: flex-start;
            }
    
        }
    }

    .container--footer{
        padding: 0;
        margin: 0;
        
    }

    .container--flex{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    

    .container__button{
        display: block;
        width: 765px;
    }

    .conatiner__right{
        padding-right: 50px;

        & .container__list-right{
            padding-left: 50px;
            display: flex;
            justify-content: space-between;

            & a{
                color: var(--color-vert);
            }
        }
    }

    .container__list-left{

        display: flex;
        justify-content: space-between;

        & li:nth-child(1){
            width: 120px;
        }
        & a{
            color: var(--color-noir);
        }

        & .credit-d{
            display: block;
            font-family: 'Brygada 1918', serif;
            width: 100px;
        }

    }

    .credit{
        display: none;
    }
}

@media (min-width: 1110px){
    .container-titre__el{

        & h1{
            width: 940px;
        }
    }

    .container-nav__el{
        padding-top: 0px;
        
    }
}

@media (min-width: 1700px){

    .conatiner__right{

        & .container__list-right{
        padding-left: 200px;
        }

    }

    .container-grid-block{
        display: grid;
        grid-template-columns: 480px 1fr;
        grid-column-gap: 30px;
        grid-row-gap: 0px;
        grid-auto-flow: row;

    }

    .block-img--end{
        margin-top: 30px;
    }

    .block-img--2{
        margin-top: 30px;
    }

    .text-spc{
        text-align: end;
        font-size: 125px;
        margin-top: -100px;

        &--2{
            margin-top: 50px;
            height: 120px;
        }
    }

    .img{
        width: 100px;
        margin-top: 0;

        &--margin{
            margin-right: 55px;
        }
    }

    .block--grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-column-gap: 15px;
        grid-row-gap: 0px;
    }

    .block-img{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    
        &--end{
            justify-content: end;
        }
    
    }
    
    .block{
    
        background-image: url("../assets/images/el-graphic-white.png");
        background-position: top -140px right -120px;
        background-size: contain;
        background-repeat: no-repeat;
    
        margin-top: 50px;
        padding: 30px 35px 30px 35px;
        background-color: var(--color-vert);
        border-radius: 15px;

        &--2{
    
            background-image: url("../assets/images/el-graphic-green.png");
            background-position: top -50px left 50px;
            background-size: cover;
    
            background-color: var(--color-beige);
            max-width: 750px;
            height: 500px;

            & h4{
                height: 50px;
            }
            
        }
    
        &--3{

            margin-top: -130px;
    
            display: flex;
            flex-direction: column;
            background-image: url("../assets/images/el-graphic-green.png");
            background-position: top -50px left 50px;
            background-size: cover;
    
            background-color: var(--color-beige);
            max-width: 480px;

            & p{
                color: var(--color-noir);
            }
        }
    
    }

}