

.details{
  cursor: pointer;
  position: absolute;
  left: 50px;
  
}

.flex{
  display: block;
  margin-top: 40px;
  margin-left: 75px;
  margin-right: 50px;
}

.table1{
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  margin-right: 50px;
}
.question{
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 400px;
  margin-left: 25px;
  margin-bottom: 100px;
  background-color: var(--color-vert);
  color: var(--color-beige);
  border-left: solid 8px var(--color-rouille);
  border-radius: 40px 0 0px 40px;

}

.reponse-table{
  display: flex;
  flex-direction: column;
  justify-content: left;
  max-width: 600px;
  margin-bottom: 100px;
  background-color: var(--color-beige);
  color: var(--color-noir);

  &--hidden{
    display: none;
  }
}



.cell{
  width: 200px;
  height: 250px;
  padding: 25px;
  border-bottom: solid 2px var(--color-rouille);

  &:last-child{
    border-bottom: none;
  }
}


.container-table{

    position: relative;
    overflow: auto;

    position: fixed;
    top: 80px;

    width: 100vw;
    height: 92vh;

    margin-right: 50px;

    background-color: var(--color-noir);

    &__button{
      margin-right: 30px;
    }

    & .container-table__button button{
      cursor: pointer;
        max-height: 50px;
        color: var(--color-blanc);
        border-color: var(--color-blanc);
        background-color: var(--color-noir);

        border-radius: 50px;
        padding: 10px 20px 10px 20px;
        margin-right: 20px;
        margin-top: 20px;

        &.active-table{
          background-color: var(--color-vert);
          color: var(--color-blanc);
        }
    }

    &__button{
      display: block;
      margin-top: 25px;
      margin-left: 25px;
    }

    &__flex{
      margin-top: 25px;
      margin-left: 25px;
      align-items: center;
      display: flex;
      flex-direction: row;

      & h3{
        padding: 0;
      }
    }

}

.button-details{
  max-height: 50px;
    color: var(--color-blanc);
    border-color: var(--color-blanc);
    background-color: var(--color-noir);

    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    margin-top: 10px;

    cursor: pointer;
  &.active-réponse{
    background-color: var(--color-rouille);
    color: var(--color-blanc);
  }
}

@media (min-width: 600px){
  .cell{
    width: auto;
    height: 150px;
    padding: 25px;
    border-bottom: solid 2px var(--color-rouille);
  
    &:last-child{
      border-bottom: none;
    }
  }
}


@media (min-width: 1024px){
  .cell{
    width: auto;
    height: 200px;
    padding: 25px;
    border-bottom: solid 2px var(--color-rouille);
  
    &:last-child{
      border-bottom: none;
    }
  }

  .button-details:hover{
    color: var(--color-beige);
    background-color: var(--color-rouille);
  }
  

  .container-table__button button:hover{
    color: var(--color-beige);
    background-color: var(--color-vert);
  }
}