
li{
  list-style: none;
}



body {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: var(--color-blanc);
  background-color: var(--color-noir);
}

.title {
  font-size: 50px;
  line-height: 1.20;
  color: var(--color-blanc);
  font-family: 'Brygada 1918', serif;
  font-weight: 600;
  padding: 50px 0 50px 0;

  &--right{
    text-align: right;

  }

  &--marginbottom{
    margin-bottom: 30px;
  }

  &--beige{
    color: var(--color-beige);
  }

  &--vert{
    color: var(--color-vert);
  }

  &--black{
    color: var(--color-noir);
  }

  &--2{
    font-size: 40px;
    line-height: 1.30;
    font-weight: 400;
    padding: 0;
  }

  &--3{
    font-family: 'Manrope', sans-serif;
    font-size: 31px;
    line-height: 1.30;
    font-weight: 400;
    padding: 0;
    padding-top: 12px;
  }

  &--4{
    font-size: 25px;
    line-height: 1.30;
    font-weight: 400;
    padding: 0;
  }

  &--5{
    font-size: 20px;
    line-height: 1.30;
    font-weight: 400;
  }
  
  &--6{
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    line-height: 1.30;
    font-weight: 400;
  }
}

.text-nav a{
  text-decoration: none;
  color: var(--color-beige);
  list-style: none;
  font-weight: 400;
  margin: 0px 0px 0px 0px;

}

.active a{
  padding-bottom: 5px;
  border-bottom: 2px solid var(--color-beige);

}

.text--dim-rencontre{
  max-width: 385px;
}

.text-spc{
  display: block;
  font-size: 60px;
  color: var(--color-vert);
  font-family: 'Brygada 1918', serif;
  font-weight: 600;
  margin-bottom: -26px;
  margin-top: 10px;

  &--2{
    font-size: 80px;
    margin-left: -30px;
    margin-top: 13px;
    position: absolute;
    rotate: (90deg);
  }
}


p{
  padding-top: 20px;
  font-weight: 400;
}

.text--black{
  color: var(--color-noir);
}


@media (min-width: 600px){


}

@media (min-width: 1024px){

  body {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    color: var(--color-blanc);
    background-color: var(--color-noir);
  }

  .title {
    font-size: 150px;
    line-height: 1.05;
    color: var(--color-blanc);
    font-family: 'Brygada 1918', serif;
    font-weight: 600;
    padding: 50px 0 50px 0;
  
    &--2{
      font-size: 100px;
      line-height: 1.30;
      padding: 0px 0px 0px 0px;
    }
  
    &--3{
      font-family: 'Manrope', sans-serif;
      font-size: 50px;
      line-height: 1.30;
      padding: 20px 0px 0px 0px;
    }
  
    &--4{
      font-size: 40px;
      line-height: 1.30;
      padding: 0px 0px 0px 0px;
    }
  
    &--5{
      font-size: 31px;
      line-height: 1.30;
    }
    
    &--6{
      font-family: 'Manrope', sans-serif;
      font-size: 25px;
      line-height: 1.30;
    }

    &--beige{
      color: var(--color-beige);
    }
  
    &--vert{
      color: var(--color-vert);
    }
  
    &--black{
      color: var(--color-noir);
    }
  }

  .text-nav a{
    text-decoration: none;
    color: var(--color-beige);
    list-style: none;
    font-weight: 400;
    margin: 0px 0px 0px 25px;
  
  }

}