.video-container {
    position: relative;

    margin-bottom: 200px;
    padding-left: 20px;
    padding-right: 20px;

    & video{
        z-index: 0;
        width: 100%;
        border-radius: 30px;

        margin-bottom: -100px;
    }
  }
  
  .controls {
    line-height: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -93%;
    width: 90%;
    height: 56px;
    background-color: var(--color-vert);
    border-radius: 30px;
    color: var(--color-blanc);
    text-align: center;
    padding: 10px;

  }


  
  .controls button,
  .controls input[type="range"] {
    margin: 0 5px;
  }
  


  .controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    width: 30px;
    height: 30px;
  }
  
  .controls button svg {
    fill: var(--color-blanc);
    width: 100%;
    height: 100%;
  }

  .controls button.play .pause-icon {
    display: none;
  }
  
  .controls button.pause .play-icon {
    display: none;
  }
  
  /* Styles spécifiques pour le bouton de sourdine */
  .controls button.mute .unmute-icon {
    display: none;
  }
  
  .controls button.unmute .mute-icon {
    display: none;
  }

  @media screen and (orientation: landscape){
    .video-container {
      position: relative;
  
      margin-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
  
      & video{
          z-index: 0;
          width: 100%;
          height: 100vh;
          border-radius: 0px;

          margin-bottom: 0px;
      }
    }
  }