@import 'utils/variables';
@import 'components/type';
@import '../../node_modules/modern-normalize/modern-normalize';

@import 'components/container';
@import 'components/Button';
@import 'components/grid';
@import 'components/circle-ui';
@import 'components/video';
@import 'components/media-1024px';
/* Theme */
  
a{
    text-decoration: none;
    color: var(--color-blanc);
}

*{
    margin: 0;
    padding: 0;
}

[data-theme="ligth"]{
    --color-blanc: rgb(255, 255, 255);
    --color-noir: rgb(27, 27, 27);
    --color-vert: #1C5F3E;
    --color-beige: #EEE0D3;
    --color-rouille: #CB6E4F;
}
[data-theme="dark"]{
    --color-blanc: rgb(27, 27, 27);
    --color-noir: rgb(255, 255, 255);
    --color-vert: #1C5F3E;
    --color-beige: #EEE0D3;
    --color-rouille: #CB6E4F;
}
.darkmode{
    cursor: pointer;
    background-color: var(--color-blanc);
    margin-top: 32px;
}

.container--darkmode{
    display: flex;
    justify-content: end;
}

.img{
    width: 70px;
    margin-top: 16px;

    &--margin{
        margin-right: 16px;
    }
}

.block-img{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--end{
        justify-content: end;
        row-gap: 20px;
    }

}

.block{

    background-image: url("../assets/images/el-graphic-white.png");
    background-position: top -140px right -120px;
    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 50px;
    max-width: 500px;
    padding: 20px 25px 20px 25px;
    background-color: var(--color-vert);
    border-radius: 15px;

    &--2{

        background-image: url("../assets/images/el-graphic-green.png");
        background-position: top -50px left 50px;
        background-size: cover;

        background-color: var(--color-beige);
    }

    &--3{

        display: flex;
        flex-direction: column;
        background-image: url("../assets/images/el-graphic-green.png");
        background-position: top -50px left 50px;
        background-size: cover;

        background-color: var(--color-beige);
    }

}



.slide{
    overflow: hidden;
    margin-bottom: 100px;
}

.list{
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: 41px;

    &--ligth{
        margin-top: 20px;

    }

    &--ligth &__el{
        
        font-size: 20px;
        color: var(--color-noir);
        background-color: var(--color-beige);
    }
    

    &__el{
        position: relative;
        white-space: nowrap;
        display: flex;
        margin-right: 20px;
        background-color: var(--color-vert);
        border-radius: 60px;
        padding: 20px 32px 20px 32px;

    
    }

}




@media (min-width: 1024px){

    .block{

        background-image: url("../assets/images/el-graphic-white.png");
        background-position: top -250px right -200px;
        background-size: contain;
        background-repeat: no-repeat;
    
        margin-top: 100px;
        max-width: 500px;
        padding: 40px 50px 40px 50px;
        background-color: var(--color-vert);
        border-radius: 30px;

        &--2{

            background-image: url("../assets/images/el-graphic-white.png");
            background-position: top -250px right -200px;
            background-size: contain;

            background-color: var(--color-beige);
        }
    
    }

    .list{
        margin: 0;
        margin-top: 41px;
        
    
        &__el{
            
        }
    
    
    }
    
}